* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;

  background-color: rebeccapurple;
}

#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  /* grid-template-columns: repeat(12, 1fr); */
  grid-template-rows: repeat(6, 1fr);
}
.App {
  background-color: black;
  grid-row: 6;
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100%;
}
.sidebar {
  border: 2px solid red;
  width: 5vw;
  height: 100vh;
}

svg {
  transition: all 3s;
}

h1,
h2,
p {
  padding: 0.3rem;
}

h1 {
  color: white;
  font-size: 3rem;
  padding: 2rem;
}

h2 {
  color: gray;
  font-size: 1rem;
}
h4 {
  color: white;
}

p {
  color: whitesmoke;
  font-size: 0.8rem;
  font-weight: 600;
}

.contentWrapper {
  grid-column: 2 / span 1;
  width: 40vw;
}

.logo {
  background-image: url("logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 55%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  filter: invert(1);
}
